# PYTHON BASICS

In [1]:
1+1

2

In [2]:
1-1

0

In [3]:
2*2

4

In [4]:
3/5

0.6

In [5]:
3%2

1

In [6]:
2**4

16

In [7]:
print("Hello world")

Hello world

In [8]:
a = 10
b = 20
print(a+b)

30

In [10]:
c = a + b
print(c)

30

In [11]:
s1 = "Hello world"

print(s1)

Hello world

In [13]:
a = input("Input anything here: ")
print(a)

Input anything here: Hello
Hello

In [14]:
a = int(input("Input a number: "))
print(a)

Input a number: 6
6

In [15]:
flt = 1.1

In [18]:
s1 = "hello"
s2 = " world"

s3 = s1 + s2

print(s3)

hello world

In [19]:
a = 10
b = 20

print(a, b)

a, b = b, a

print(a, b)

10 20
20 10

In [26]:
a = 10

print("The number is:",a, 20, 30)

The number is: 10 20 30

In [30]:
print("The number is", s3, "which is an char")

The number is hello world which is an char

# DATATYPES

In [40]:
a = 10
a = int(a)

In [42]:
type(a) # function to check the data type of any variable

int

In [44]:
b = 9.919826
type(b)

float

In [49]:
c = 1j
type(c)

complex

In [50]:
d = True
type(d)

bool

### Lists

In [57]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0] # array

In [58]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [59]:
# methods in lists

In [60]:
len(a)

10

In [62]:
#sort the list
b = [234,135,674,14,95,13]
b.sort()
b

[13, 14, 95, 135, 234, 674]

In [70]:
#accessing elements
# [from: to : step size]

b = a[1:5:2]
print(b)

[1, 3]

In [71]:
b = a[5:]
print(b)

[5, 6, 7, 8, 9]

In [72]:
b.sort()
b = a[0::2]
print(b)

[0, 2, 4, 6, 8]

In [76]:
# negative indexing
# 0 1 2 3 4 5 6 7 8 9
# 0 1 2 3 4 5 6 7 8 9
# -9 -8 -7 -6 -5 -4 -3 -2 -1 0
b = a[-9]
b

1

In [80]:
type(a)

list

In [81]:
a = [1,2,3]
b = [4, 5, 6]

a + b

[1, 2, 3, 4, 5, 6]

In [82]:
a = [1 , "hello", 1.5]

In [83]:
a

[1, 'hello', 1.5]

In [112]:
b = ['hello', 'world', 'IH', 'is', 'amazing']
b

['hello', 'world', 'IH', 'is', 'amazing']

In [113]:
b.reverse()

In [114]:
b

['amazing', 'is', 'IH', 'world', 'hello']

In [115]:
b.append('mango')
b

['amazing', 'is', 'IH', 'world', 'hello', 'mango']

### Tuples

In [88]:
a = (1, 2, 3)
type(a)

tuple

In [89]:
# cant change values

a[1]

2

In [90]:
a[1] = 4

TypeError: 'tuple' object does not support item assignment

In [92]:
a = ("hello", 1, 1.5)

In [93]:
a

('hello', 1, 1.5)

In [94]:
a = (1, 2, 3, 4)
b = (2, 3, 4, 5)

In [95]:
a + b

(1, 2, 3, 4, 2, 3, 4, 5)

### Dictionaries

In [96]:
# key value pairs

d1 = {'val1': 1, 'val2': 2, 'val3': 3}

In [97]:
type(d1)

dict

In [98]:
d1

{'val1': 1, 'val2': 2, 'val3': 3}

In [100]:
d1.keys()

dict_keys(['val1', 'val2', 'val3'])

In [101]:
d1.values()

dict_values([1, 2, 3])

In [103]:
#how to access
d1['val1']

1

In [107]:
d2 = {'val4': 4, 'val5': 5, 'val6': 6}
len(d1)

3

In [116]:
d1['val4'] = d2

In [117]:
d1

{'val1': 1, 'val2': 2, 'val3': 3, 'val4': {'val4': 4, 'val5': 5, 'val6': 6}}

In [118]:
d1['val4']['val5']

5

# LOOPS

In [120]:
l1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# uses indentation: tabs and spaces

for item in l1:

    print(item)

0
1
2
3
4
5
6
7
8
9

In [122]:
import random
l1 = []

for i in range(0, 100):
    a = random.randint(0, 1000)
    l1.append(a)

In [125]:
l2 = []

for i in l1:
    if i % 2 == 0:
        l2.append(i)

In [126]:
l2

[540,
 748,
 94,
 678,
 280,
 856,
 744,
 816,
 356,
 492,
 364,
 902,
 818,
 738,
 200,
 832,
 976,
 84,
 996,
 180,
 4,
 808,
 504,
 164,
 210,
 796,
 74,
 796,
 36,
 204,
 464,
 434,
 426,
 348,
 662,
 36,
 702,
 872,
 244,
 828,
 90,
 574,
 872,
 364,
 320,
 12,
 510,
 108,
 76,
 274,
 38,
 228,
 832,
 608,
 596,
 798,
 416]

# Conditional If, elses

In [129]:
# operators

a = 10 > 20
print(a, type(a))

False <class 'bool'>

In [130]:
20 > 10

True

In [132]:
20 == 10

False

In [133]:
20>=10

True

In [134]:
10>10

False

In [135]:
10>=10

True

In [136]:
'''
>
<
==
>=
<=

'''

10 and 10

10

In [137]:
10 and 20 # and operation

20

In [138]:
10 or 10

10

In [139]:
 10 or 20 # or operation

10

In [143]:
not(True) # not or completment operation

False

In [144]:
(10 > 20) and (20 > 10)

False

In [145]:
(10 > 20) or (20 > 10)

True

In [150]:
a = 10

if a == 10:
    print(a)
else:
    print("10 not found")

10

In [151]:
if a == 10:
    print(a)
elif a == 20:
    print(a)
else:
    print("Not found")

10

In [155]:
# other things in loops that you need to check

#pass,  break, continue

# pass does nothing

for i in range (0, 10):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [156]:
for i in range (0, 10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [157]:
for i in range (0, 10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

# Functions Basics

In [161]:
def func_1 (a, b):
    print("I am inside a function")
    c = a + b
    d = a - b
    print(c)
    print(d)

In [162]:
func_1(10, 20)

I am inside a function
30
-10

In [171]:
def func_2 (a = 0, b = 10):
    print("Constant")
    print(a)
    print(b)

In [172]:
func_2()

Constant
0
10

In [173]:
func_2